name: Sync admin-preview branch with main

on:
  push:
    branches:
      - main-preview

jobs:
  sync-admin-preview:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout main-preview branch
        uses: actions/checkout@v3
        with:
          ref: main-preview

      - name: Set up Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Fetch all branches
        run: git fetch --all

      - name: Push main-preview to admin-preview branch
        run: |
          git remote set-url origin https://x-access-token:${{ secrets.Ivy_league_PAT }}@github.com/${{ github.repository }}
          git push origin main-preview:admin-preview --force